.background {
    min-height: 100vh;
    background-position:
      center,
      center,
      center top;
    background-size: cover, cover;
    backdrop-filter: blur(8px);
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.00001),
        rgba(255, 255, 255, 0.00001)
      ),
      url(../assets/grid-bg.png), url(../assets/blurbackground.png);
  }
  